.footer {
    display: flex;
    justify-content: start;
    align-items: flex-start;
    gap: 264px;
    background: #044D8C;
}

.footer-header {
    margin-bottom: 12px;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
    color: #F2BE22;
}

.footer-menu__link {
    display: flex;
    align-items: center;
    gap: 4px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #E3E3E3;
    text-decoration: none;
}

.footer-menu {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.customer-service {
    margin-bottom: 42px;
}

.footer-social-menu {
    display: flex;
    gap: 24px;
}